<main class="h-screen grid grid-cols-1 bg-nord-snow-light dark:bg-nord-night">
  <section class="bg-nord-snow-light dark:bg-nord-night">
    <div class="px-8 pt-16 grid grid-cols-1 max-w-screen-xl mx-auto">
      <div class="flex flex-col items-center">
        <h1 class="text-3xl font-semibold text-nord-night-light dark:text-nord-snow-dark md:text-4xl lg:text-5xl">
          History Page Coming Soon...
        </h1>
      </div>
    </div>
  </section>
</main>
